.title{

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 80px;

}
.title p{
  color: #212ea0;
  font-size: 15px;
  font-weight: 600px;

}

.title h2{

  color:#000f38;
  font-size: 32px;
  

}