.footer_Section{

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-top:1px solid black ;
padding-top: 10px;
  
}

.right_Section{
  
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 650px){

  .footer_Section{

   flex-direction: column;
   gap: 10px;
   margin: 0;
    
  }
  .right_Section{
  
  
    flex-direction: column-reverse;
    gap: 5px;
    align-items: center;
  }
  


}